# Ingestion
requests
boto3

# Orchestration
# Airflow must be installed separately with constraints:
# pip install "apache-airflow==2.10.5" --constraint "https://raw.githubusercontent.com/apache/airflow/constraints-2.10.5/constraints-3.12.txt"

# Databricks
databricks-sdk
databricks-sql-connector

# Dashboard
streamlit>=1.37.0
plotly
pandas
pyarrow
s3fs

# Utilities
python-dotenv
